.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

header {
  background-color: #FFFFFF;
}

body {
  background-color: #F9F9F9;
}

main {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: 35px;
  flex-shrink: 0;
  background-color: white;
}

p {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h4 {
  font-size: 16px;
}

hr {
  width: 60px;
  background-color: #7c4dff;
  height: 2px;
}

.btn-own {
  width: 100%;
  margin: 25px auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
  background-color: #DADADA;
  transition: 0.5s;
  color: white;
}
.btn-own:hover {
  background-color: white;
  border: 1px solid white;
  box-shadow: 3px 3px 3px #DADADA;
}
.btn-own:active {
  background-color: #a7a7a7;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 3px #a7a7a7;
}

.navbar {
  padding: 1rem;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

footer p {
  margin: 10px 0;
}

.text-subtitle-container {
  padding: 2.5rem 0 1.5rem;
}

.text-subtitle {
  color: gray;
}

.align-sub {
  vertical-align: sub;
}

.card-body {
  padding-top: 0;
}

.container-fluid {
  padding-left: 0;
}

.links-container {
  height: 40px;
  display: inline-block;
  background-color: #DADADA;
  color: #6D6D6D;
  width: 100%;
}

.card-img-top {
  padding: 20px;
}

.flex-container {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  min-height: 350px;
}

.box {
  max-width: 650px;
  margin: 5px;
  text-align: center; /* will center text in <p>, which is not a flex item */
}

.anuncio {
  min-height: 350px;
  padding: 0;
}

.anuncio-color-1 {
  background-color: #0466C8;
  color: white;
}

.anuncio-color-2 {
  background-color: #F6F6F6;
  color: black;
}

.video {
  text-align: center;
}

.video iframe {
  max-width: 510px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.buscador-container {
  background-color: white;
  padding: 20px;
  border: 2px solid #DADADA;
  border-radius: 10px;
}
.buscador-container input {
  width: 100%;
  margin: 10px auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
}

.frequent-questions hr {
  width: 90%;
  background-color: #B5C0D0;
}

.login-box input {
  width: 100%;
  margin: 25px auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
}

.btn-help {
  width: 100%;
  margin: 25px auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
  background-color: black;
  transition: 0.5s;
  color: white;
}
.btn-help:hover {
  background-color: #333333;
  border: 1px solid white;
  box-shadow: 3px 3px 3px black;
}
.btn-help:active {
  background-color: black;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 3px black;
}

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.mg-1-rl {
  margin: 0px 5px;
}

.mg-2-rl {
  margin: 0px 10px;
}

.mg-3-rl {
  margin: 0px 15px;
}

.mg-4-rl {
  margin: 0px 20px;
}

.mg-5-rl {
  margin: 0px 25px;
}

.mg-6-rl {
  margin: 0px 30px;
}

.mg-1-tb {
  margin: 5px 0px;
}

.mg-2-tb {
  margin: 10px 0px;
}

.mg-3-tb {
  margin: 15px 0px;
}

.mg-4-tb {
  margin: 20px 0px;
}

.mg-5-tb {
  margin: 25px 0px;
}

.mg-6-tb {
  margin: 30px 0px;
}

.login-box {
  min-width: 300px;
  width: 400px;
  height: 450px;
  margin: 200px auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}
.login-box .btn-login {
  width: 100%;
  margin: 25px auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
  background-color: #0466C8;
  transition: 0.5s;
  color: white;
}
.login-box .btn-login:hover {
  background-color: #3799fb;
  border: 1px solid white;
  box-shadow: 3px 3px 3px #0466C8;
}
.login-box .btn-login:active {
  background-color: #023364;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 3px #023364;
}

/*# sourceMappingURL=style.css.map */
