# Ignorar node_modules (dependencias de npm)
node_modules/

# Ignorar el archivo package-lock.json para proyectos creados con npm 5+
package.json

# Ignorar el archivo .env que puede contener variables de entorno sensibles
.env

# Ignorar el archivo .DS_Store creado por macOS
.DS_Store